* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #002060;
    color: #FFEB3B;
    line-height: 1.5;
    font-size: 50px;
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    width: 100%;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFEB3B;
    padding: 10px 20px;
    color: #002060;
    font-weight: bold;
}

.header-left button,
.header-right button {
    margin-right: 10px;
    padding: 5px 10px;
    border: none;
    background: #FFEB3B;
    font-size: 1em;
    color: #002060;
    cursor: pointer;
}

.header-left .active {
    font-weight: bold;
}

.header-right .user {
    font-size: 0.9em;
}

/* Breadcrumb */
.breadcrumb {
    padding: 10px 20px;
    color: #000000;
    font-size: 0.9em;
}

.breadcrumb a {
    color: #000000;
    text-decoration: none;
}

/* Main Content */
.main {
    padding: 20px;
}

.a1 {
    color: #00FF00;
    font-size: 24px;
}

.a2 {
    color: #0000FF;
    font-size: 12px;
}

.save-button {
    background-color: #FFEB3B;
    color: #002060;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.goals-button {
    background-color: #FFEB3B;
    color: #002060;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

.category{
    background-color: #FFEB3B;
    color: #002060;
    margin-right: 10px;
    padding: 10px 20px;
    font-weight: bold;
    display: inline-flex;
    cursor: pointer;
}

.category input{
    width: 3em;
    margin-right: 10px;
}