* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #002060;
    color: #FFEB3B;
    line-height: 1.5;
    font-size: 50px;
}

nav {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    font-weight: bold;
    width: 100%;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFEB3B;
    padding: 10px 20px;
    color: #002060;
    font-weight: bold;
}

.header-left button,
.header-right button {
    border: none;
    background: #FFEB3B;
    color: #002060;
    cursor: pointer;
}

.header-left {
    margin: 0 0 0 12px;
    gap: 0;
}

.header-right {
    margin: 0 12px 0 0;
}

/*.font-size span {*/
/*    !*margin: 2px;*!*/
/*}*/

.header-left .active {
    font-weight: bold;
}

.header-right .user {
    font-size: 0.9em;
}

/* nav */
.nav {
    padding: 10px 20px;
    color: #002060;
    font-size: 0.9em;
}

.nav a {
    color: #002060;
    text-decoration: none;
}

/* Main Content */
#main {
    padding: 20px;
}

.a1 {
    color: #002060;
    font-size: 24px;
    font-weight: bold;
}

.a2 {
    color: #002060;
    font-size: 32px;
    font-weight: bold;
}

.a3 {
    color: #002060;
    font-size: 48px;
    font-weight: bold;
}

.save-button {
    background-color: #FFEB3B;
    color: #002060;
    text-decoration: none;
    padding: 10px 20px;
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    margin: 3% 0 40px 0;
}

.goals-button {
    background-color: #FFEB3B;
    color: #002060;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 80px 40px 100px 0;
    width: 30%;
    /*height: 300px;*/
    padding: 40px;
}

.goals-button img {
    width: 40%;
    margin-bottom: 5%;
    margin-top: 8%;
}

.category {
    background-color: #FFEB3B;
    color: #002060;
    margin-right: 10px;
    padding: 10px 20px;
    font-weight: bold;
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
}

.category input {
    width: 3em;
    margin-right: 10px;
}

nav a {
    margin: 0 25px 0 25px;
}

.border {
    width: 95vw;
    height: auto;
    margin: auto;
    border: 2px white solid;
    padding: 2%;
}

.contrast-button1 {
    border: 2px #002060 solid;
    border-radius: 40px;
    padding: 0 12px;
    font-size: 48px;
}

.contrast-button2 {
    border: 2px #002060 solid;
    border-radius: 40px;
    padding: 0 12px;
    background-color: #002060;
    color: white;
    font-size: 48px;
}

.audio-button {
    font-size: 48px;
}

circle {
    fill: white ;
}

.circle-active {
    fill: #FFEB3B !important;
}

.circle-next{
    cursor: pointer;
}

.circle-next:hover {
    fill: #FFEB3B !important;
}

.roadmap-line {
    stroke: #FFEB3B;
    fill: none;
    stroke-width: 10;
}

.roadmap-path {
    margin: 40px 0 20px 0;
}

.opdracht-tekst {
    margin: 10px 0 20px 0;
}

.opdracht-titel {
    margin: 10px 0 20px 0;
}

.close-button {
    background: transparent;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #FFEB3B;
    text-decoration: none;
    margin-right: 2%;
}

.close-button:hover {
    color: white;
}

.trofees {
    display: flex;
    justify-content: space-evenly;
}

.text-doel-kiezen {
    margin: 20px 0 40px 0;
}

.category {
    width: 400px;
    margin: 10px 10px 0 0;
}

.text-doeloverzicht {
    margin: 20px 0 40px 0;
}

.categories {
    margin: 10px 0 20px 0;
}

.trofeekasten {
    display: flex;
    justify-content: space-between;
}

.trofeekasten a {
    text-decoration: none;
    color: #FFEB3B;
    background-color: #002060;
    padding: 2%;
    border: 2px solid white;
    align-items: center;
    text-align: center;
}

.trofeekast {
    width: 30vw !important;
}

.trofeekast-tekst {
    text-align: center;
}

.spel {
    margin: 10px 0 40px 0;
}

.spel-onderzin {
    margin: 40px 0 40px 0;
}

.welcome-buttons {
    display: flex;
    justify-content: space-evenly;
}

.trofeekast-groot {
    position: relative;
    width: 100vw;
    max-width: 800px;
}

.trofeekast-img {
    width: 100%;
    display: block;
}

.trophies {
    position: absolute;
    top: 19%;
    left: 14%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    width: 75%;
    justify-items: center;
    align-items: center;
}

.trofee {
    width: 150px;
    height: auto;
    display: block;
    text-decoration: none;
}

.trofee img {
    width: 100%;
    display: block;
}

.trofeekast-vrienden-button {
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #002060;
    padding: 1%;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
}

.vrienden-even {
    background-color: #FFEB3B;
}

.vrienden-oneven {
    background-color: white;
}

.vrienden-img {
    width: 150px;
    margin-right: 20px;
}

.vriendenlijst {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.chat-text h1, p{
    text-align: start;
}

.chat-text{
    width: 100%;
}

.chat-time {
    margin-left: 70%;
}

.popup {
    display:flex;
    background-color: white;
    margin: 40px 40px 40px 40px;
    padding: 40px 40px 40px 40px;
    gap: 100px;
}

.trofeekast-popup {
    width: 200px;
}

.doelbehaald-header {
    color: #002060;
}

.popup-volledig {
    background-color: white;
    margin: 60px 60px 60px 60px;
}

.popup-buttons {
    display: flex;
    justify-content: space-evenly;
}

.popup-butt {
    background-color: #FFEB3B;
    color: #002060;
    border: #002060;
    text-decoration: none;
    width: 400px;
    padding: 10px 20px;
    font-weight: bold;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    margin: 3% 0 40px 0;
}

.close-button-popup {
    background: transparent;
    border: none;
    font-size: 1em;
    cursor: pointer;
    color: #002060;
    text-decoration: none;
}

.popup-header {
    padding: 20px 20px 20px 20px;
    background: #FFEB3B;
}

.close-button-popup {
    margin: 0 0 0 20px;
}

.title-div {
    display: flex;
    justify-content: start;
    align-items: center;
}

.title-div img {
    width: 80%;
    vertical-align: middle;
}